*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
}

html {
  @extend %cover;
  $vw: 100vw;
  font-size: calc($vw / 1920px * 10px);
  // position: fixed;
  // line-height: 1;
  // overflow: hidden;
  background: $color-contessa;
  color: $color-white;

  @include media('<phone') {
    font-size: calc($vw / 750px * 10px);
  }
}

body {
  @extend %description-16;
  font-family: $font-suisse-bp;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
